.hero{
  min-height: rem-calc(400);
  padding-bottom: rem-calc($base-spacing-unit * 2);
  background-image: url("../img/dogbanner.jpg");
  background-size: cover;
  box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
  .hero__header{
    border-bottom: 1px solid rgba(#dddddd, 0.5);
  }
  .hero__headline{
    font-size: rem-calc(32);
    line-height: rem-calc(28);
    margin: 0;
  }
  .hero__tagline{
    font-size: rem-calc(24);
    line-height: rem-calc(10);
    margin: 0;
  }