

.pagenav{
  @extend %list-inline;
  // cosmetic style
  text-align: center;
  margin-bottom: rem-calc(double($base-spacing-unit))
}

  .pagenav__item{
    @extend %list-inline__item;
  }

    .pagenav__link{
      display: block;
      padding: rem-calc(halve($base-spacing-unit) $base-spacing-unit);
      color: #ffffff;
    }