.btn{
  font-weight: 600;
}
.btn--main{

  color: #222222;
  background: none;

  @if($btn-border-width != 0) {
    border-color: #222222;
  }

  @include transition(background-color);

  &:hover,
  &:focus{
    background-color: rgba(#222222, 0.1);
    color: #222222;
    @if($btn-border-width != 0) {
      border-color: #222222;
    }
  }
  &:active{
    background-color: rgba(#222222, 0.3);
    color: #222222;
    @if($btn-border-width != 0) {
      border-color: #222222;
    }
  }

}

.btn--inverse{

  background: none;

  @if($btn-border-width != 0) {
    border-color: #ffffff;
  }

  @include transition(background-color);

  &:hover,
  &:focus{
    background-color: rgba(#ffffff, 0.1);
    color: #ffffff;
    @if($btn-border-width != 0) {
      border-color: #ffffff;
    }
  }
  &:active{
    background-color: rgba(#ffffff, 0.3);
    color: #ffffff;
    @if($btn-border-width != 0) {
      border-color: #ffffff;
    }
  }
}