@media #{$medium-up}{
  .grid--vertical{
    display: table;
    table-layout: fixed;
    width: 100% !important;
  }
  .grid--vertical > .grid__item{
    display: table-cell;
    vertical-align: middle;
    float: none !important;
  }
}